.imageStyling{
    border-radius:20px;
    display: block;
    width: 500px;
    margin: auto;
    height: 200px;


}
.center{
    text-align: center;
    margin-bottom: 30px;
}
.buttonContainer{
    width: 500px;
    margin: auto;
    display:flex;
    justify-content: space-between;
    position: relative;
    top: -110px;
}
.dot{
    height: 10px;
    width:10px;
    background-color: grey;
    display:inline-block;
    margin: 5px;
    border-radius:50%;
    
   ;
}
.dotContainer{
    width: 500px;
    margin: auto;
    text-align: center;

}