.header{
    background-color: cadetblue;
    height: 80px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.button{
    height: 40px;
}